name: Auto WordPress Post

on:
  schedule:
    - cron: '0 0 * * *' # 매일 아침 9시(한국 시간)에 실행
  workflow_dispatch: # 내가 원할 때 수동으로 실행하는 버튼 생성

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Install fonts (Korean)
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-noto-cjk

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          WP_URL: ${{ secrets.WP_URL }}
          WP_USERNAME: ${{ secrets.WP_USERNAME }}
          WP_APP_PASSWORD: ${{ secrets.WP_APP_PASSWORD }}
        run: python main.py


